# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
venv/
env/
.venv/

# IDEs and editors
.idea/
.vscode/

# OS files
.DS_Store

# Testing & coverage
.pytest_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# Env files
.env
